<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verifique seu E-mail</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <img src="../../IMAGEM/LOGO ALFATECH 3.png" alt="Logo da Alfatech">
    </header>

    <main>
        <div class="form-container">
            <h2>Quase lá!</h2>
            <p class="form-description" style="font-size: 1rem; line-height: 1.6;">
                Seu cadastro foi realizado com sucesso.
                <br><br>
                Enviamos um link de ativação para o seu endereço de e-mail. Por favor, verifique sua caixa de entrada (e a pasta de spam) para concluir o processo.
            </p>
        </div>
    </main>
</body>
</html>